:root {
	--dark: #09090A;
	--light: #FFFFFF;
	--blue: #004AAD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--dark);
	color: var(--light);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	padding: 20px 0;
}

h1 {
	margin-bottom: 16px;
}

button {
	width: 360px;
	background-color: var(--blue);
	color: var(--light);
	font-size: 28px;
	border-radius: 12px;
	padding: 12px;
	cursor: pointer;
	margin-top: 12px;
}
